{% extends 'main/layout.html' %}
<!--Основной контент-->
{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3 g-lg-5">
        {% for product in products %}
            {% include 'product/mini_product_card.html' with product=product %}
        {% empty %}
            <div class="col-12 text-center py-5 text-muted">Товары пока не добавлены</div>
        {% endfor %}
    </div>
    <div class="">
        <p>пу пу пу</p>
        <p>пу пу пу</p>
        <p>пу пу пу</p>
        <p>пу пу пу</p>
        <p>пу пу пу</p>
        <p>пу пу пу</p>
        <p>пу пу пу</p>
        <p>пу пу пу</p>
        <p>пу пу пу</p>
        <p>пу пу пу</p>
    </div>

{% endblock %}